<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudwaer.mapper.BlogArticleMapper">
    <!--实体映射-->
    <resultMap id="BaseResultMap" type="com.cloudwaer.common.entity.article.BlogArticle">
        <result property="articleUniqueCode" column="ARTICLE_UNIQUE_CODE"></result>
        <result property="articleTitle" column="ARTICLE_TITLE"></result>
        <result property="articleImage" column="ARTICLE_IMAGE"></result>
        <result property="articleContent" column="ARTICLE_CONTENT"></result>
        <result property="articleEnableComment" column="ARTICLE_ENABLE_COMMENT"></result>
        <result property="articleViews" column="ARTICLE_VIEWS"></result>
        <result property="articleCreatetime" column="ARTICLE_CREATETIME"></result>
        <result property="articleDelflag" column="ARTICLE_DELFLAG"></result>
        <result property="articleUpdatetim" column="ARTICLE_UPDATETIM"></result>
        <result property="articleCreatecode" column="ARTICLE_CREATECODE"></result>
        <result property="articleUpdatecode" column="ARTICLE_UPDATECODE"></result>
        <result property="articleHot" column="ARTICLE_HOT"></result>
        <result property="articleOrder" column="ARTICLE_ORDER"></result>
    </resultMap>

    <sql id="Base_Column_List">
         ID ,ARTICLE_UNIQUE_CODE ,ARTICLE_TITLE ,ARTICLE_IMAGE ,ARTICLE_CONTENT ,ARTICLE_TAGS ,ARTICLE_ENABLE_COMMENT ,ARTICLE_VIEWS ,ARTICLE_CREATETIME ,ARTICLE_DELFLAG ,ARTICLE_UPDATETIM ,ARTICLE_CREATECODE ,ARTICLE_UPDATECODE ,ARTICLE_HOT ,ARTICLE_ORDER ,CATRGORY_CODE
    </sql>
    <insert id="saveArticle" parameterType="com.cloudwaer.common.dto.article.ArticleReqDto">
        insert into blog_article
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="articleReqDto.articleUniqueCode != null">
                ARTICLE_UNIQUE_CODE,
            </if>
            <if test="articleReqDto.articleTitle != null">
                ARTICLE_TITLE,
            </if>
            <if test="articleReqDto.articleImage != null">
                ARTICLE_IMAGE,
            </if>
            <if test="articleReqDto.articleContent != null">
                ARTICLE_CONTENT,
            </if>
            <if test="articleReqDto.articleEnableComment != null">
                ARTICLE_ENABLE_COMMENT,
            </if>
            <if test="articleReqDto.articleViews != null">
                ARTICLE_VIEWS,
            </if>
            <if test="articleReqDto.articleCreatetime != null">
                ARTICLE_CREATETIME,
            </if>
            <if test="articleReqDto.articleDelflag != null">
                ARTICLE_DELFLAG,
            </if>
            <if test="articleReqDto.articleUpdatetim != null">
                ARTICLE_UPDATETIM,
            </if>
            <if test="articleReqDto.articleCreatecode != null">
                ARTICLE_CREATECODE,
            </if>
            <if test="articleReqDto.articleUpdatecode != null">
                ARTICLE_UPDATECODE,
            </if>
            <if test="articleReqDto.articleHot != null">
                ARTICLE_HOT,
            </if>
            <if test="articleReqDto.articleOrder != null">
                ARTICLE_ORDER,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="articleReqDto.articleUniqueCode != null">
                #{articleReqDto.articleUniqueCode},
            </if>
            <if test="articleReqDto.articleTitle != null">
                #{articleReqDto.articleTitle},
            </if>
            <if test="articleReqDto.articleImage != null">
                #{articleReqDto.articleImage},
            </if>
            <if test="articleReqDto.articleContent != null">
                #{articleReqDto.articleContent},
            </if>
            <if test="articleReqDto.articleEnableComment != null">
                #{articleReqDto.articleEnableComment},
            </if>
            <if test="articleReqDto.articleViews != null">
                #{articleReqDto.articleViews},
            </if>
            <if test="articleReqDto.articleCreatetime != null">
                #{articleReqDto.articleCreatetime},
            </if>
            <if test="articleReqDto.articleDelflag != null">
                #{articleReqDto.articleDelflag},
            </if>
            <if test="articleReqDto.articleUpdatetim != null">
                #{articleReqDto.articleUpdatetim},
            </if>
            <if test="articleReqDto.articleCreatecode != null">
                #{articleReqDto.articleCreatecode},
            </if>
            <if test="articleReqDto.articleUpdatecode != null">
                #{articleReqDto.articleUpdatecode},
            </if>
            <if test="articleReqDto.articleHot != null">
                #{articleReqDto.articleHot},
            </if>
            <if test="articleReqDto.articleOrder != null">
                #{articleReqDto.articleOrder},
            </if>
        </trim>
    </insert>
    <delete id="deleteArticle" parameterType="com.cloudwaer.common.dto.article.ArticleReqDto">
        update blog_article set ARTICLE_DELFLAG = 1 where ID=#{articleReqDto.id} or ARTICLE_UNIQUE_CODE=#{articleReqDto.articleUniqueCode}
    </delete>

    <select id="queryArticleList" resultMap="BaseResultMap" resultType="com.cloudwaer.common.dto.article.ArticleRespDto">
        select
        <include refid="Base_Column_List"/>
        from
        blog_article
        where ARTICLE_DELFLAG = 0
        <if test="articleReqDto != null">
            <if test="articleReqDto.articleUniqueCode != null">
                and ARTICLE_UNIQUE_CODE = #{articleReqDto.articleUniqueCode}
            </if>
            <if test="articleReqDto.articleTitle != null">
                and ARTICLE_TITLE = #{articleReqDto.articleTitle}
            </if>
            <if test="articleReqDto.articleImage != null">
                and ARTICLE_IMAGE = #{articleReqDto.articleImage}
            </if>
            <if test="articleReqDto.articleContent != null">
                and ARTICLE_CONTENT = #{articleReqDto.articleContent}
            </if>
            <if test="articleReqDto.articleEnableComment != null">
                and ARTICLE_ENABLE_COMMENT = #{articleReqDto.articleEnableComment}
            </if>
            <if test="articleReqDto.articleViews != null">
                and ARTICLE_VIEWS = #{articleReqDto.articleViews}
            </if>
            <if test="articleReqDto.articleCreatetime != null">
                and ARTICLE_CREATETIME = #{articleReqDto.articleCreatetime}
            </if>
            <if test="articleReqDto.articleDelflag != null">
                and ARTICLE_DELFLAG = #{articleReqDto.articleDelflag}
            </if>
            <if test="articleReqDto.articleUpdatetim != null">
                and ARTICLE_UPDATETIM = #{articleReqDto.articleUpdatetim}
            </if>
            <if test="articleReqDto.articleCreatecode != null">
                and ARTICLE_CREATECODE = #{articleReqDto.articleCreatecode}
            </if>
            <if test="articleReqDto.articleUpdatecode != null">
                and ARTICLE_UPDATECODE = #{articleReqDto.articleUpdatecode}
            </if>
            <if test="articleReqDto.articleHot != null">
                and ARTICLE_HOT = #{articleReqDto.articleHot}
            </if>
        </if>
        order by ARTICLE_ORDER desc
        <if test="articleReqDto.end != 0">
            limit #{articleReqDto.start}, #{articleReqDto.end}
        </if>
    </select>
    <select id="queryArticleCount" resultType="java.lang.Integer">
        select count(1) from  blog_article
        where ARTICLE_DELFLAG = 0
        <if test="articleReqDto != null">
            <if test="articleReqDto.articleUniqueCode != null">
                and ARTICLE_UNIQUE_CODE = #{articleReqDto.articleUniqueCode}
            </if>
            <if test="articleReqDto.articleTitle != null">
                and ARTICLE_TITLE = #{articleReqDto.articleTitle}
            </if>
            <if test="articleReqDto.articleImage != null">
                and ARTICLE_IMAGE = #{articleReqDto.articleImage}
            </if>
            <if test="articleReqDto.articleContent != null">
                and ARTICLE_CONTENT = #{articleReqDto.articleContent}
            </if>
            <if test="articleReqDto.articleEnableComment != null">
                and ARTICLE_ENABLE_COMMENT = #{articleReqDto.articleEnableComment}
            </if>
            <if test="articleReqDto.articleViews != null">
                and ARTICLE_VIEWS = #{articleReqDto.articleViews}
            </if>
            <if test="articleReqDto.articleCreatetime != null">
                and ARTICLE_CREATETIME = #{articleReqDto.articleCreatetime}
            </if>
            <if test="articleReqDto.articleDelflag != null">
                and ARTICLE_DELFLAG = #{articleReqDto.articleDelflag}
            </if>
            <if test="articleReqDto.articleUpdatetim != null">
                and ARTICLE_UPDATETIM = #{articleReqDto.articleUpdatetim}
            </if>
            <if test="articleReqDto.articleCreatecode != null">
                and ARTICLE_CREATECODE = #{articleReqDto.articleCreatecode}
            </if>
            <if test="articleReqDto.articleUpdatecode != null">
                and ARTICLE_UPDATECODE = #{articleReqDto.articleUpdatecode}
            </if>
            <if test="articleReqDto.articleHot != null">
                and ARTICLE_HOT = #{articleReqDto.articleHot}
            </if>
        </if>
    </select>
    <select id="queryAll" resultType="com.cloudwaer.entity.Dept">
        select id,parent_id parentId from sys_dept
    </select>
</mapper>
